@use "./utils/font.scss";
@use "./utils/button.scss";

.button {
  @include font.labelLarge;
  @include button.base;

  height: 40px;
  padding: 0 24px 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.button.elevated {
  @include button.color(
    $color: var(--color-surface-tint),
    $background: var(--color-surface-container-low)
  );

  @include button.elevation(
    $default: var(--elevation-1),
    $hover: var(--elevation-2)
  );
}

.button.filled {
  @include button.color(
    $color: var(--color-on-primary),
    $background: var(--color-primary)
  );

  @include button.elevation($hover: var(--elevation-1));
}

.button.tonal {
  @include button.color(
    $color: var(--color-on-secondary-container),
    $background: var(--color-secondary-container)
  );

  @include button.elevation($hover: var(--elevation-1));
}

.button.text {
  @include button.color($color: var(--color-primary));
  padding: 0 12px;
}

.button.outlined {
  @include button.color($color: var(--color-primary));
  @include button.outline;
}
