@use "./utils/font.scss";
@use "./utils/button.scss";
@use "./utils/shape.scss";

@mixin square($size) {
  width: $size;
  height: $size;
}

.root {
  @include button.base;
  @include button.elevation(
    $default: var(--elevation-3),
    $hover: var(--elevation-4)
  );

  display: flex;
  justify-content: center;
  align-items: center;

  &.small {
    @include square(40px);
    @include shape.medium;
    font-size: 24px;

    ::after {
      @include shape.medium;
    }
  }

  &.default {
    @include square(56px);
    @include shape.large;
    font-size: 24px;

    ::after {
      @include shape.large;
    }
  }

  &.large {
    @include square(96px);
    @include shape.xLarge;
    font-size: 36px;

    ::after {
      @include shape.xLarge;
    }
  }

  &.lowered {
    @include button.elevation(
      $default: var(--elevation-1),
      $hover: var(--elevation-2)
    );
  }
}

.root.primary {
  @include button.color(
    $color: var(--color-on-primary-container),
    $background: var(--color-primary-container)
  );
}

.root.secondary {
  @include button.color(
    $color: var(--color-on-secondary-container),
    $background: var(--color-secondary-container)
  );
}

.root.tertiary {
  @include button.color(
    $color: var(--color-on-tertiary-container),
    $background: var(--color-tertiary-container)
  );
}

.root.branded {
  @include button.color(
    $color: var(--color-on-surface-tint),
    $background: var(--color-surface-container-high)
  );
}

.root.surface {
  @include button.color(
    $color: var(--color-primary),
    $background: var(--color-surface-container-high)
  );
}
