@use "./utils/button.scss";
.root {
  @include button.base;

  height: 40px;
  width: 40px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root.standard {
  @include button.color($color: var(--color-on-surface-variant));
}

.root.filled {
  @include button.color(
    $background: var(--color-primary),
    $color: var(--color-on-primary)
  );
}

.root.tonal {
  @include button.color(
    $background: var(--color-secondary-container),
    $color: var(--color-on-secondary-container)
  );
}

.root.outlined {
  @include button.color($color: var(--color-inverse-surface));
  @include button.outline;
}
