@use "../../ui/utils/font.scss";

.body {
  display: grid;
  grid-template-rows: 1fr auto auto;
  padding: 16px;
  padding-bottom: 78px;

  span.hidden {
    color: transparent;
    border-bottom: 1px solid white;
  }

  article {
    @include font.bodyLarge;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
    gap: 10px 5px;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: scroll;
  }

  .controls {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .progress {
    display: grid;
    padding: 32px 0;
  }
}
