.root {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 78px;
}

.controls {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.progress {
  display: grid;
  padding: 16px;
}
