:root {
  // Primary
  --palette-primary0: #000000;
  --palette-primary10: #21005d;
  --palette-primary20: #381e72;
  --palette-primary30: #4f378b;
  --palette-primary40: #6750a4;
  --palette-primary50: #7f67be;
  --palette-primary60: #9a82db;
  --palette-primary70: #b69df8;
  --palette-primary80: #d0bcff;
  --palette-primary90: #eaddff;
  --palette-primary95: #f6edff;
  --palette-primary99: #fffbfe;
  --palette-primary100: #ffffff;

  // Secondary
  --palette-secondary0: #000000;
  --palette-secondary10: #1d192b;
  --palette-secondary20: #332d41;
  --palette-secondary30: #4a4458;
  --palette-secondary40: #625b71;
  --palette-secondary50: #7a7289;
  --palette-secondary60: #958da5;
  --palette-secondary70: #b0a7c0;
  --palette-secondary80: #ccc2dc;
  --palette-secondary90: #e8def8;
  --palette-secondary95: #f6edff;
  --palette-secondary99: #fffbfe;
  --palette-secondary100: #ffffff;

  // Tertiary
  --palette-tertiary0: #000000;
  --palette-tertiary10: #31111d;
  --palette-tertiary20: #492532;
  --palette-tertiary30: #633b48;
  --palette-tertiary40: #7d5260;
  --palette-tertiary50: #986977;
  --palette-tertiary60: #b58392;
  --palette-tertiary70: #d29dac;
  --palette-tertiary80: #efb8c8;
  --palette-tertiary90: #ffd8e4;
  --palette-tertiary95: #ffecf1;
  --palette-tertiary99: #fffbfa;
  --palette-tertiary100: #ffffff;

  // Error
  --palette-error0: #000000;
  --palette-error10: #410e0b;
  --palette-error20: #601410;
  --palette-error30: #8c1d18;
  --palette-error40: #b3261e;
  --palette-error50: #dc362e;
  --palette-error60: #e46962;
  --palette-error70: #ec928e;
  --palette-error80: #f2b8b5;
  --palette-error90: #f9dedc;
  --palette-error95: #fceeee;
  --palette-error99: #fffbf9;
  --palette-error100: #ffffff;

  // Neutral
  --palette-neutral0: #000000;
  --palette-neutral4: #0f0d13;
  --palette-neutral6: #141218;
  --palette-neutral10: #1c1b1f;
  --palette-neutral12: #211f26;
  --palette-neutral17: #2b2930;
  --palette-neutral20: #313033;
  --palette-neutral22: #36343b;
  --palette-neutral24: #3b383e;
  --palette-neutral30: #484649;
  --palette-neutral40: #605d62;
  --palette-neutral50: #787579;
  --palette-neutral60: #939094;
  --palette-neutral70: #aeaaae;
  --palette-neutral80: #c9c5ca;
  --palette-neutral87: #ded8e1;
  --palette-neutral90: #e6e1e5;
  --palette-neutral92: #ece6f0;
  --palette-neutral94: #f3edf7;
  --palette-neutral95: #f4eff4;
  --palette-neutral96: #f7f2fa;
  --palette-neutral98: #fef7ff;
  --palette-neutral99: #fffbfe;
  --palette-neutral100: #ffffff;

  // Neutral Variant
  --palette-neutral-variant0: #000000;
  --palette-neutral-variant10: #1d1a22;
  --palette-neutral-variant20: #322f37;
  --palette-neutral-variant30: #49454f;
  --palette-neutral-variant40: #605d66;
  --palette-neutral-variant50: #79747e;
  --palette-neutral-variant60: #938f99;
  --palette-neutral-variant70: #aea9b4;
  --palette-neutral-variant80: #cac4d0;
  --palette-neutral-variant90: #e7e0ec;
  --palette-neutral-variant95: #f5eefa;
  --palette-neutral-variant99: #fffbfe;
  --palette-neutral-variant100: #ffffff;

  // Misc
  --palette-white: #ffffff;
  --palette-black: #000000;
}
