@media screen and (prefers-color-scheme: light) {
  :root {
    --color-surface-tint: var(--color-primary);
    --color-surface-tint-color: var(--color-primary);
    --color-on-error-container: var(--palette-error10);
    --color-on-error: var(--palette-error100);
    --color-error-container: var(--palette-error90);
    --color-on-tertiary-container: var(--palette-tertiary10);
    --color-on-tertiary: var(--palette-tertiary100);
    --color-tertiary-container: var(--palette-tertiary90);
    --color-tertiary: var(--palette-tertiary40);
    --color-shadow: var(--palette-neutral0);
    --color-error: var(--palette-error40);
    --color-outline: var(--palette-neutral-variant50);
    --color-on-background: var(--palette-neutral10);
    --color-background: var(--palette-neutral99);
    --color-inverse-on-surface: var(--palette-neutral95);
    --color-inverse-surface: var(--palette-neutral20);
    --color-on-surface-variant: var(--palette-neutral-variant30);
    --color-on-surface: var(--palette-neutral10);
    --color-surface-variant: var(--palette-neutral-variant90);
    --color-surface: var(--palette-neutral99);
    --color-on-secondary-container: var(--palette-secondary10);
    --color-on-secondary: var(--palette-secondary100);
    --color-secondary-container: var(--palette-secondary90);
    --color-secondary: var(--palette-secondary40);
    --color-inverse-primary: var(--palette-primary80);
    --color-on-primary-container: var(--palette-primary10);
    --color-on-primary: var(--palette-primary100);
    --color-primary-container: var(--palette-primary90);
    --color-primary: var(--palette-primary40);
    --color-disabled: rgb(from var(--color-on-surface) r g b / 0.12);
    --color-on-disabled: rgb(from var(--color-on-surface) r g b / 0.38);
  }
}
