@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-surface-tint: var(--color-primary);
    --color-surface-tint-color: var(--color-primary);
    --color-on-error-container: var(--palette-error80);
    --color-on-error: var(--palette-error20);
    --color-error-container: var(--palette-error30);
    --color-on-tertiary-container: var(--palette-tertiary90);
    --color-on-tertiary: var(--palette-tertiary20);
    --color-tertiary-container: var(--palette-tertiary30);
    --color-tertiary: var(--palette-tertiary80);
    --color-shadow: var(--palette-neutral0);
    --color-error: var(--palette-error80);
    --color-outline: var(--palette-neutral-variant60);
    --color-on-background: var(--palette-neutral90);
    --color-background: var(--palette-neutral10);
    --color-inverse-on-surface: var(--palette-neutral20);
    --color-inverse-surface: var(--palette-neutral90);
    --color-on-surface-variant: var(--palette-neutral-variant80);
    --color-on-surface: var(--palette-neutral90);
    --color-surface-variant: var(--palette-neutral-variant30);
    --color-surface: var(--palette-neutral10);
    --color-on-secondary-container: var(--palette-secondary90);
    --color-on-secondary: var(--palette-secondary20);
    --color-secondary-container: var(--palette-secondary30);
    --color-secondary: var(--palette-secondary80);
    --color-inverse-primary: var(--palette-primary40);
    --color-on-primary-container: var(--palette-primary90);
    --color-on-primary: var(--palette-primary20);
    --color-primary-container: var(--palette-primary30);
    --color-primary: var(--palette-primary80);
  }
}
