:root {
  --typeface-plain: var(--font-roboto);

  // Label large
  --type-label-large-line-height: 20px;
  --type-label-large-size: 14px;
  --type-label-large-weight: 500;
  --type-label-large-tracking: 0.1px;

  // Headline small
  --type-headline-small-line-height: 32px;
  --type-headline-small-size: 24px;
  --type-headline-small-weight: 400;
  --type-headline-small-tracking: 0px;
}
